body{
    padding: 100px;
    font-family: 'Roboto', sans-serif;
}
#login-form{
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
    padding: 40px;
    border-radius: 10px;
}
#transaction-area{
    display: none;
}
.bank-transfer{
    margin: 0px 30px;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}